// Place all the styles related to the OnlyPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

textarea{
  background-color: black;
  border: none;
  resize: none;
  width: auto;
}

textarea:focus{
  border: none;
}

table{
  background-color: black;
}

td, th{
  font-family: "Consolas";
  color: #00FF00;
  border-top: none;
  a{
    color: inherit;
  }
}

.col-md-8{
  padding: 0px;
}

.table > tbody > tr > td{
  border: none;
}

.img-responsive{
  margin: 0px auto;
}

.tbheader{
  margin-top: 0px;
  margin-bottom: 25px;
  font-weight: bold;
}

.console-border{
  border: 4px solid grey;
  border-radius: 3px;
}
